body {
    background-color: #d4d6d5;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 7%;
    border-width: 8px;
    border-color: white;
}
 
h1,h3{
    color: #45c0c0;
}